@import './../../../scss/extends/preview-box.scss';

.cv-list {

}

.cv-list-header {

}

.cv-list-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cv-list-item {
    @extend %preview-box;
    margin: 0 20px 20px 0;
}
